{% extends "base.html" %}
{% block title %} Contato - Secretaria de Educação {% endblock %}
{% block content %}
  <h2>Secretaria de Educação de Carapicuíba</h2>
  <hr>

  <div class="row">
    <div class="col-md-8">
      <h4>Competências</h4>
      <p>A Secretaria de Educação está comprometida em nutrir o conhecimento das crianças do município de Carapicuíba, sendo assim oferece auxílio pedagógico, executa atividades escolares, coordena projeto socio pedagógicos, entre outros, e fornece creches e escolas com excelentes profissionais.</p>
      <br>
      <h5><strong>Andrea Cristina Ribeiro</strong></h5>
      <p>Cargo: Secretário(a)</p>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <strong>Informações de Contato</strong>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Endereço:</strong><br>
            Av. Sandra Maria, 66, Centro
          </li>
          <li class="list-group-item">
            <strong>Email:</strong><br>
            <a href="mailto:seme@carapicuiba.sp.gov.br">seme@carapicuiba.sp.gov.br</a>
          </li>
          <li class="list-group-item">
            <strong>Telefone:</strong><br>
            (11) 4164-3974<br>
            (11) 4184-7716
          </li>
          <li class="list-group-item">
            <strong>Atendimento:</strong><br>
            Segunda a Sexta: 08:00 às 17:00
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}